# Ignore node_modules directory
node_modules

# Ignore .env files (contains sensitive information)
.env

# Ignore development-related files
npm-debug.log
yarn-error.log

# Ignore IDE-specific files
.vscode/
.idea/
